
*{
  margin:0;
  padding: 0;
      box-sizing: border-box;  
}
html {
 scroll-behavior: smooth;
  scroll-padding-top:80px;

}
a{
  text-decoration: none;
}
a:focus,a:active{
  outline: none;
-webkit-tap-highlight-color: transparent;
}
body.dark-mode {
  background-color: #121212;
  color: #f9f9f9;
}

body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3, 
body.dark-mode p {
  color: #f9f9f9;
}

body.dark-mode section {
  background-color: #121212;
}