body{
  /* background-color: rgb(31, 111, 177); */
}
*{
  margin:0;
  padding: 0;
      box-sizing: border-box;  
}
html {
 scroll-behavior: smooth;
  scroll-padding-top:80px;

}
a{
  text-decoration: none;
}
a:focus,a:active{
  outline: none;
-webkit-tap-highlight-color: transparent;
}